TZ=America/Chicago
TMDB_API_KEY=YourKey_NoQuotes

# Search these languages (en,es,fr,de,ja,ko,zh,pt,ru,hi,ar,it)
DEFAULT_LANGUAGES=en

# Import ignore list from Radarr. Leave RADARR_API_KEY empty, if you want to manually type the key in the web UI
RADARR_URL=http://10.210.191.44:7878
RADARR_API_KEY=YourRadarrKey_NoQuotes
